<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ static_url('base.css') }}">
	<link rel="stylesheet" href="{{ static_url('skeleton.css') }}">
	<link rel="stylesheet" href="{{ static_url('layout.css') }}">
	<link rel="stylesheet" href="{{ static_url('dotcom.css') }}">
	<link rel="stylesheet" href="{{ static_url('pygments.css') }}">
        {% if site.feed -%}
		<link rel="alternate" type="application/rss+xml" href="{{site.feed}}" title="{{site.name}}" />
        {% else %}
		<link rel="alternate" type="application/rss+xml" href="{{ content_url('feed.xml') }}" title="{{site.name}}" />
        {%- endif %}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="/lib/shortcut.png">
	<link rel="apple-touch-icon" href="/lib/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/lib/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/lib/apple-touch-icon-114x114.png">
</head>
<body>
	<div class="navbar">
		<div class="container">
			<nav class="twelve columns offset-by-two">
				<div class="logo"><a href="/"><span class="logo-zigg">zigg</span><span class="logo-dotcom">.com</span></a></div>
				<ul class="links">
					<li><a href="/code/">code</a></li>
					<li><a href="/">words</a></li>
					<li><a href="/me/">me</a></li>
					<li class="social">
						<a href="https://twitter.com/zigg"><img src="/lib/twitter.png"></a>
						<a href="https://github.com/zigg"><img src="/lib/github.png"></a>
						<a href="https://stackoverflow.com/users/722332/zigg"><img src="/lib/stackoverflow.png"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="main container">
		<div id="content" class="twelve columns offset-by-two">
			{% block main %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
