{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}
	<header>
		<h1>{{ post.title }}</h1>
	</header>
	{{ post.content }}
	<p class="dateline">
		{{ post.date.strftime('%B %d, %Y %I:%M %p') }}
		{% for tag in post.tags %}
			<a href="{{ tag|tag_url }}">#{{ tag }}</a>
		{% endfor %}
    		<a href="https://twitter.com/share?via=zigg" class="twitter-share-button" data-lang="en">Tweet</a>
    		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p>
{% endblock %}

