{% extends "layout.html" %}

{% block title %}{{ post.title }} - {{ site.name }}{% endblock %}

{% block canonical_url %}
	{% if post.canonical_url is not none %}
		<link rel="canonical" href="{{ post.canonical_url }}">
	{% endif %}
{% endblock %}

{% block main %}
	<header>
		<h1>{{ post.title }}</h1>
	</header>
	{{ post.content }}
	<p class="dateline">
		{{ post.date.strftime('%B %d, %Y %I:%M %p') }}
		{% for tag in post.tags %}
			<a href="{{ tag|tag_url }}">#{{ tag }}</a>
		{% endfor %}
	</p>
{% endblock %}

